html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    color: rgba(0,0,0,0.87);
    font-family: "RobotoDraft",sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0277bb;
    transition: .4s;
    word-wrap: break-word;
}

a:hover,a:active {
    color: #01476f;
    outline: 0;
}

blockquote {
    border-left: 4px solid #eee;
    margin: 8px 16px 8px 16px;
}

code {
    font-family: monospace;
}

dl {
    padding: 0 16px;
}

h1,h2,h3,h4 {
    padding: 0 16px;
}

h1 {
    padding-top: 20px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

h2 {
    padding-top: 16px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
}

h3 {
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 12px;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 8px;
    padding: 0 16px;
}

p code {
    word-break: break-word;
}

ol,ul {
    margin: 0 0 8px;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 16px;
}

ol li:before {
    content: counters(item,".") ". ";
    counter-increment: item;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 16px 8px 16px;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

table th,table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}

table th {
    font-weight: 700;
}

.hide {
  display: none;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-gray {
  color: gray;
}

.text-right {
  text-align: right;
}

.subhead {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0,0.54);
}

:focus {
    outline: 1px solid #5677fc;
}

.wrapper {
    width: 100%;
    z-index: 10;
    margin: auto;
    margin-top: 64px;
}

.app-bar {
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    position: fixed;
    padding: 0 16px;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.app-bar .title {
    position: fixed;
    left: 56px;
    font-size: 20px;
    line-height: 56px;
}

.app-bar .action:nth-child(1) {
    left: 4px;
}

.app-bar .action:nth-child(3) {
    right: 4px;
}

.app-bar .action:nth-child(4) {
    right: 52px;
}

.app-bar .action:nth-child(5) {
    right: 100px;
}

.app-bar .action {
  position: fixed;
  top: 4px;
}

.action {
  background: transparent center center no-repeat;
  background-size: 24px 24px;
  border: 0;
  display: block;
  height: 48px;
  overflow: hidden;
  text-indent: -9999px;
  width: 48px;
  z-index: 30;
}

.action.text {
  text-indent: 0;
  width: auto;
  padding: 12px 0;
}

.action.add {
    background-image: url("/images/add.svg");
}

.action.delete {
    background-image: url("/images/delete.svg");
}

.action.download {
    background-image: url("/images/download.svg");
}

.action.edit {
    background-image: url("/images/edit.svg");
}

.action.hamburger {
    background-image: url("/images/hamburger.svg");
}

#side-drawer {
    width: 80%;
    max-width: 239px;
    border-right: 1px solid #e0e0e0;
    bottom: 0;
    background: #fff;
    color: rgba(0,0,0,0.87);
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 50;
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-100%);
}

#side-drawer.open {
    transform: translateX(0);
}

#side-drawer .logo {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 12px 24px 10px 24px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

#side-drawer ul {
    list-style-type: none;
    padding: 12px 0 10px 0;
    margin: 0;
}

#side-drawer li {
    font-weight: 700;
    margin-top: 0;
}

#side-drawer li a {
    padding: 16px 0 16px 24px;
    display: block;
    color: rgba(0,0,0,0.87);
}

#side-drawer li a:focus,
#side-drawer li a:hover,
#side-drawer li a.active {
    background-color: #eee;
    outline: 0;
}

#side-drawer .about {
    padding: 16px 24px;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
}

#mask-modal {
    background-color: rgba(0,0,0,0.54);
    height: 100%;
    left: 0;
    opacity: 0.01;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 40;
    position: fixed;
    transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateZ(0);
}

#mask-modal.mask-visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
}

.services-state {
  width: 100%;
  margin: 0;
}

.services-state td:nth-child(1) {
  border-right: none;
}

.services-state td:nth-child(2) {
  border-left: none;
}

.services-state td:nth-child(3) {
  width: 7.5em;
  text-align: center;
}

.services-state td:nth-child(4) {
  width: 9em;
  text-align: center;
}

.services-state td:nth-child(4) a {
  margin-right: 0.5em;
}

.services-state td:nth-child(5) a:last-child {
  margin-right: 0;
}

/* Table display on mobile */
@media screen and (max-width: 767px) {
    table,tbody {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    table {
        margin-left: 0;
        margin-right: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    table tr,table th,table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }

    table th[data-title]:before,table td[data-title]:before {
        content: attr(data-title) ": ";
        font-weight: 700;
    }

    table td {
        border: none;
    }

    table td:empty {
        display: none;
    }
}

@media print, screen and (min-width: 767px) {
    .wrapper {
        width: 720px;
        margin-top: 72px;
    }

    .page-footer .previous.narrow span,.page-footer .previous.narrow div {
        display: block;
    }

    .page-footer .previous,.page-footer .previous.narrow,.page-footer .next {
        width: 50%;
    }

    .page-footer .next {
        float: right;
    }

    #side-drawer .logo {
        height: 64px;
    }

    .app-bar {
        height: 64px;
    }

    .app-bar .action {
        top: 8px;
    }

    .app-bar .title {
        line-height: 64px;
    }
}

@media screen and (min-width: 1159px) {
    .wrapper {
        width: 1120px;
    }
}

@media screen and (min-width: 1429px) {
    #side-drawer {
        transform: translateX(0);
    }

    .desktop-wrapper {
        position: absolute;
        right: 0;
        left: 239px;
        z-index: 40;
    }

    .wrapper {
        overflow: hidden;
        margin-bottom: 56px;
        background-color: #fff;
    }

    .app-bar {
        left: 239px;
        box-shadow: none;
        border-bottom: 1px solid #e0e0e0;
        height: 64px;
        z-index: 100;
    }

    .app-bar .title {
        left: 255px;
    }

    .app-bar .action {
        z-index: 50;
    }

    .app-bar .action:nth-child(1) {
        display: none;
    }

    .app-bar .action:nth-child(2) {
        left: 295px;
    }
}

@media print {
    strong {
        font-weight: 700;
    }

    body {
        text-indent: 0;
        font-size: 10pt;
        line-height: 11pt;
    }

    .no-print {
        display: none;
    }

    .wrapper {
        margin: 1px;
        width: auto;
    }

    section {
        clear: both;
    }

    .app-bar,#side-drawer,.page-footer {
        display: none;
    }
}
